.planDetail__container {
  height: 100%;

  .planDetail__title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: $color--light-blue;
  }

  .planDetail__trainings {
    max-height: 70%;
    overflow: scroll;

    .addTrainingTile__container, .trainingTile__container {
      border: $pot--border;
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .addTrainingTile__container {
      border-color: $color--light-gray !important;
      height: 50px;
      color: $color--light-gray;
      text-align: center;
      font-size: 20px;
      position: relative;

      .addTrainingTile__text {
        padding-top: 6px;
      }

      .addTrainingTile__icon {
        position: absolute;
        right: 3px;
        top: 6px;
      }
    }


    .trainingTile__container {
      .trainingTile__header {
        border-bottom: $pot--border;
        height: 50px;
        color: $color--light-blue;
        text-align: center;
        font-size: 20px;
        position: relative;

        h3 {
          padding-top: 6px;
        }

        .trainingTile__menuIcon {
          position: absolute;
          right: 5px;
          top: 12px;
        }
      }

      .trainingTile__body {
        table {
          margin-bottom: 10px;
          table-layout: fixed;
          width: 100%;

          thead {
            tr {
              color: $color--light-blue;

              th {
                padding-left: 15px;
                text-align: center;
              }

              :first-child {
                text-align: left;
              }
            }
          }

          tbody {
            .trainingTile__item {
              position: relative;
              border-top: 1px solid $color--light-gray;
              height: 50px;

              td {
                padding-left: 15px;
                color: $color--light-gray;
                line-height: 30px;
                hyphens: auto;

              }

              :nth-child(2), :nth-child(3) {
                text-align: center;
              }
            }

            .trainingTile__addIcon {
              float: right;
              padding-right: 5px;
            }
          }

        }

      }
    }
  }

  .planDetail__settingIcon {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}