.planTile__container {
  border: $color--light-blue solid 4px;
  width: 80%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;

  .planTile__innerContainer {
    position: relative;
    padding: 5px;
    height: 100%;

    .planTile__title {
      color: $color--light-blue;
      font-size: $font--normal;
    }
    .planTile__trainingSnippet{
      color: $color--light-gray;
      font-size: $font--normal;
    }
    .planTile__icon-menu{
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .planTile__icon-add{
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

}